.single-cocktail_container {
   max-width: 1050px;
   margin: 0 auto;
   display: flex;
   gap: 2rem;
   margin-top: 3rem;
   flex-direction: column;
}

@media (min-width: 1000px) {
   .single-cocktail_container {
      flex-direction: row;
   }
}

.single-cocktail_container > img {
   width: 100%;
   border: 1px solid lime;
   border-radius: 12px;
   flex: 1;
   max-width: 500px;
   object-fit: cover;
   margin: 0 auto;
}

.drink-info {
   display: flex;
   flex-direction: column;
   border: 1px solid lime;
   border-radius: 15px;
   backdrop-filter: blur(7px) saturate(200%);
   color: white;
   position: relative;
   overflow: hidden;
   width: fit-content;
   margin: 0 auto;
   padding: 1rem 0;
}

.drink-info > h3 {
   font-size: 2rem;
   font-weight: bolder;
   padding: 12px;
   align-self: center;
   text-decoration: underline;
   color: white;
}

.drink-info > div {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 0 1rem;
   max-width: 500px;
   gap: 1rem;
}

.drink-info p {
   font-size: 1.6rem;
   transition: font-size 0.2s ease;
}

@media (min-width: 600px) {
   .drink-info p {
      font-size: 2rem;
   }
}

.drink-data {
   opacity: 0.8;
}
