.search-container {
   max-width: 1050px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 0;
}
.search-container > div {
   color: rgba(255, 255, 255, 0.8);
   font-size: larger;
   margin-bottom: 10px;
}
.search-form input {
   border-radius: 999999px;
   font-size: large;
   border: 1px solid green;
   background-color: rgba(0, 0, 0, 0.322);
   backdrop-filter: blur(7px) saturate(200%);
   min-height: 25px;
   color: white;
   padding: 5px 12px;
   min-width: 300px;
}

.search-form input:focus {
   outline: none;
   border: 1px solid lime;
}

.search-form {
   position: relative;
}
.drink-search-container {
   position: absolute;
   width: 400px;
   height: 332px;
   background-color: rgba(17, 25, 40, 0.34);
   backdrop-filter: blur(7px) saturate(200%);
   z-index: 9999999;
   margin-top: 5px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   color: white;
   overflow-x: hidden;
   overflow-y: scroll;
}

.autocomplete-container {
   display: flex;
   gap: 1rem;
   align-items: center;
   border: none;
   border-bottom: 1px solid green;
   padding: 1rem;
   transition: background-color 0.2s ease;
   cursor: pointer;
   background-color: transparent;
   text-align: start;
   color: inherit;
   outline: none;
}

.autocomplete-container:focus {
   background-color: rgba(0, 128, 0, 0.479);
}

.autocomplete-container:hover {
   background-color: rgba(0, 128, 0, 0.479);
}

.autocomplete-container img {
   border-radius: 99999px;
   height: 50px;
   width: 50px;
   border: 2px solid rgba(0, 128, 0, 0.705);
}

.autocomplete-container h6 {
   font-size: 1.2rem;
}
.autocomplete-container span {
   color: rgb(206, 204, 204);
}
