.art-container {
   margin: 0 auto;
   padding: 0 10px;
}
article {
   max-width: 320px;
   width: 100%;
   display: flex;
   flex-direction: column;
   backdrop-filter: blur(7px) saturate(200%);
   background-color: rgba(17, 25, 40, 0.34);
   border-radius: 12px;
   border: 1px solid rgba(0, 255, 0, 0.493);
   overflow: hidden;
}

.img-container {
   padding: 12px;
   position: relative;
   width: 100%;
   height: 100%;
   max-width: 320px;
   max-height: 320px;
}
.img-container::after {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.img-container img {
   border-radius: 12px;
   border: 1px solid lime;
   background-color: aqua;
   width: inherit;
   height: inherit;
}

.cocktail-body {
   color: white;
}
.cocktail-body h3 {
   text-align: center;
   letter-spacing: 10px;
   text-decoration: overline;
   font-style: oblique;
   font-size: 1.3rem;
   border-bottom: 1px solid rgba(0, 255, 0, 0.493);
   padding-bottom: 5px;
   font-weight: bold;
}

.cocktail-body > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 12px 15px 0;
}
.cocktail-body > div > div > h4,
.cocktail-body > div > div > p {
   padding: 0 12px;
   color: rgb(216, 213, 213);
   font-size: 1.07rem;
   line-height: 25px;
}
.detail {
   text-decoration: none;
   background-color: #2ea44f;
   transition: opacity 0.3s ease;
}

.detail:hover {
   opacity: 0.9;
}
