/* .cocktail_list-section {
   padding: 0 10px;
} */

.cocktails-center {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   place-content: center;
   max-width: 1050px;
   margin: 0 auto;
   width: 100%;
   row-gap: 2rem;
}
